<mat-nav-list class="nav-list">
  <div class="list">
    <mat-list-item class="list__item">
      <mat-icon matListItemIcon>home</mat-icon>
      <span matListItemTitle>Главное</span>
    </mat-list-item>
    <mat-list-item class="list__item">
      <mat-icon matListItemIcon>library_books</mat-icon>
      <span matListItemTitle>Карточки</span>
    </mat-list-item>
    <mat-list-item class="list__item">
      <mat-icon matListItemIcon>folder</mat-icon>
      <span matListItemTitle>Материалы</span>
    </mat-list-item>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="list-footer">
    <mat-list-item class="list__item">
      <mat-icon matListItemIcon>settings</mat-icon>
      <span matListItemTitle>Настройки</span>
    </mat-list-item>
  </div>
</mat-nav-list>
