.list__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.list {
  overflow-y: auto;
}

.divider {
  margin: 0.5rem;
}

.nav-list {
  gap: 0.4rem 0;

}
